mixin type-block(className,title,hex)
    .type-block-content
        .type-block-wrapper
            .color-block(class=className) 
        .color-block__titles  
            p.color-block__p= title
            p.color-block__p-hex= hex