mixin click-me(className)
    button(class ="button "+className) click me

mixin gotopay(className)
    button(class ="button button-gotopay "+className) перейти к оплате 
        svg(class="button-gotopay__arrow" width="18" height="18" viewBox="0 0 18 18" fill="none")
            path(class="button-gotopay__path" d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z" fill="white")

