.color-block-content{
    display: flex;
    align-items: center;
    width: get-size(269,1440);
    min-width: 269.26px;
}

.color-block-wrapper {
    width: get-size(70, 269);
    position: relative;

}

.color-block {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 6px;
    min-width: 70px;
    min-height: 70px;
}

.color-block__titles{
    margin-left: 40px;
}
.color-block__p{
    font-size: get-fz(19);
    font-weight: bold;  
    line-height: 29px;
    
    font-family: 'Quicksand', sans-serif;
}

.color-block__p-hex{
    @extend .color-block__p;
    font-weight: normal;
}