$main-dark:#1F2041;
$main-fz:'Quicksand', sans-serif;
$second-fz:'Montserrat', sans-serif;


@function get-size($n, $w) {
    @return percentage($n/$w);
}

@function get-fz($n) {
    @return ($n/16)+em;
}

