header.header
    .header__logo
        .header__vector-icon-wrapper
            include ../vector-icon/vector-icon.pug
            +icon("header")
        .header__title-h1-wrapper       
            include ../title-h1/title-h1.pug
            +title("header__title", "TOXIN")
    nav.header__nav
        ul.header__ul
            li.header__item
                a(href="#" class="header__link") Home
            li.header__item
                a(href="#" class="header__link") About us
            li.header__item
                a(href="#" class="header__link") Services
            li.header__item
                a(href="#" class="header__link") Careers
            li.header__item
                a(href="#" class="header__link") News
            li.header__item
                a(href="#" class="header__link") Documentation
