.header {
    width: 100%;
    position: relative;
    // background: red;
    height: 100px;
}

.header__logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px;
    height: 70px;
    bottom: 50%;
    transform: translateY(50%);
    left: get-size(120, 1440);
}

.header__title {
    margin-left: 20px;
    width: 130px;
}

.header__vector-icon-wrapper {


    // left: get-size(120,1440);
    .header__icon {
        width: 70px;
        

    }
}

.header__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;

    .header__ul {
        .header__item {
            display: inline-block;
            margin-right: 30px;
            list-style: none;

            &:first-child {
                font-weight: bold;
            }
        }
    }
}

.header__link {
    text-decoration: none;
    color: $main-dark75;
    font-size: 24px;
    font-family: $second-font;
}