
.vector-icon {
    width: get-size(48, 1440);
    height: get-size(48, 1440);
    fill: none;
    min-width: 40px;
    min-height: 40px;
    // background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}