.vector-icon-wrapper {
    margin-top: get-size(30, 1440);
    margin-left: get-size(30, 1440);
}

.vector-icon {
    width: get-size(48, 1440);
    height: get-size(48, 1440);
    fill: none;
    min-width: 40px;
    min-height: 40px;
}